@import "tailwindcss";

@theme {
  --color-black: #121212;
  --color-dark-gray: #212121;
  --color-medium-gray: #9E9E9E;
  --color-light-gray: #F5F5F5;
}

:root {
  color: var(--color-black);
  background-color: var(--color-medium-gray);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-light-gray);
    background-color: var(--color-black);
  }
}

body {
  margin: 0;
  height: 100dvh;
  color: inherit;
  background-color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

router-outlet + * {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

router-outlet {
  display: none;
}

* {
  box-sizing: border-box;
}