@import "tailwindcss";

:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #F8F9FA;
  }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100dvh;
}

@theme {
    --color-black: #121212;
    --color-dark-gray: #424242;
    --color-medium-gray: #9E9E9E;
    --color-light-gray: #F5F5F5;
}