@import "tailwindcss";

@theme {
  --color-black: #121212;
  --color-dark-gray: #424242;
  --color-medium-gray: #9E9E9E;
  --color-light-gray: #F5F5F5;
}

:root {
  color: #000;
  background-color: var(--color-medium-gray);
  color-scheme: light dark;
}

:root.dark {
  color: #F8F9FA;
  background-color: var(--color-black);
}

body {
  margin: 0;
  height: 100dvh;
  color: inherit;
  background-color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease;
}

app-root {
  display: block; /* Required for the height to take effect */
  height: 100%;  /* Or 100% if the parents are set to 100% */
}

* {
  box-sizing: border-box;
}